<style>
    #pageTopButton {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        background-color: darkblue;
        color: white;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        font-size: 45px;
        text-align: center;
        line-height: 50px;
        justify-content: center;
        border-radius: 5px;
    }
</style>
<div id="pageTopButton" class="printHide">▲</div>
<script>
    const button = document.getElementById("pageTopButton");

    document.addEventListener("scroll", function() {
        if (window.scrollY > window.visualViewport.height) {
            button.style.opacity = "1";
            button.style.cursor = "pointer";
        } else {
            button.style.opacity = "0";
            button.style.cursor = "default";
        }
    });

    button.addEventListener("click", function() {
        window.scrollTo({ top: 0, behavior: "smooth" });
    });
</script>