---
description: how to get an official Ford Verification Letter. Will work with other similar models
hideTOC: true
---

# Verification Letters

> This information is no longer relevant, left as-is with no updates planned as of 05/02/2025. 
> 
> REASON: Ford no longer provides information on Australian-made vehicles, either due to the age of the models or the decommissioning of Australian-specific departments.
{: .block-warning}

If you believe you have a rare trim of Ford Falcon and would like more information on the specifics of how many with the exact same options were made, you can create a ticket with Ford Australia requesting a Vehicle Verification Letter. Note that Ford will likely request any or all of the following information to service your request:

- VIN (required)
- Name
- Email
- Address
- Phone Number

Once your ticket has been processed, you will likely receive a email containing a verification letter in PDF format. Requests usually take 2 weeks:

![Verification Letter Screenshot](./verification-letter.png)

> Screenshot of a verification letter request in 2021, with all identifiable information blanked out. Note this is for a AUIII SR Station Wagon, as the 1998 Ford Falcon Forte used throughout the rest of this project is yet to have a verification letter received.

The important information in this document for most people would be the table at the bottom of the page, which shows the total amount of cars manufactured that match the engine, transmission, paint, trim, and finally vehicle with the exact same options. Note that Ford Australia has no note on how many of the final number of vehicles are actually still on the road, so the chances are your specific model will be a little more rare than the final number.

In order to receive your letter, simply email [foacust1@ford.com](mailto:foacust1@ford.com) with the above information, requesting a verification letter