img {
    object-fit: contain;
    max-height: 50vh;
    min-height: 150px;
}

.bad-highlight {
    color: red;
}

.good-highlight {
    color: green;
}

.other-highlight {
    color: orange;
}

footer {
    font-style: italic;

    a {
        color: black;
    }
}

table {
    table-layout: fixed;
    width: 100%;
    font-style: italic;
    text-align: center;
}