img {
    @media (max-width: 600px) or (max-height: 600px) {
        max-height: 350px !important;
    }

    @media (max-width: 1200px) or (max-height: 1200px) {
        max-height: 500px !important;
    }

    max-height: 100%;
}